.Topheading {
    font-family: "Times New Roman", Times, serif;
    color: black;
    text-align: center;
    background-color: rgb(255, 218, 172);
    padding: 0.5px;
    font-size: 20px;
    border: 1px solid black;
  }
  .body__app {
    height: fit-content;
    min-height: 580px;
    background-color: rgb(249, 213, 158);
    padding-bottom: 2rem;
  }
  .additem {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .additem input {
    font-size: 22px;
    background-color: rgb(197, 190, 178);
    width: 22rem;
    border-style: none;
    padding: 8px;
    border-radius: 18px;
    text-align: center;
  }
  .additem button {
    background-color: green;
    padding: 10px 16px;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    color: white;
    margin-left: 4rem;
    cursor: pointer;
    border-style: none;
    border-radius: 18px;
    border: 1px solid whitesmoke;
  }
  .additem button:hover {
    background-color: rgb(22, 175, 22);
  }
  .itemslist {
    padding: 0.5rem;
    width: 80%;
    background-color: bisque;
    margin: 2rem 6.9rem;
    height: fit-content;
  
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  .itemslist__element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(252, 194, 123);
    width: 70%;
    border: 1px solid black;
    border-radius: 25px;
    margin-bottom: 1rem;
    padding: 0.5rem 0.8rem;
  }
  .itemslist__element p {
    margin-right: 0.8rem;
    font-size: 20px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .itemslist__element button {
    font-size: 20px;
    background-color: red;
    color: white;
    padding: 8px 20px;
    border-style: none;
    cursor: pointer;
    border-radius: 25px;
    border: 1px solid white;
  }
  .itemslist__element button:hover {
    background-color: rgb(246, 72, 72);
  }
  